.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0; /* top izquierda/derecha(si son los mismos solo se escribe 1) abajo*/
    font-size: 0;
    font-family: sans-serif;
    /*height: 45px;*/
  }

.fixed_header{
    position: fixed;
    top: 0;
    left: 0;        /* 0 para que sea jalado igual por cada lado y quede "centrado" */
    right: 0;
    background-color: #fffbf7;
}

li {
   display: inline;
   margin-right: 25px;
   margin-left: 25px;
}
  
body{
    background-color: #fffbf7;
}

h1 {
    color:#025157;
    text-align: center;
    font-family:"Alegreya", serif;
    font-weight: bold;
    font-size: 3.2rem;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color:#fff;
    background-color: #025157;
}

.header > * {            /* >* Sin importar que hijo tenga que aplique a todo */
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
  }

.logo > img{
    width: 15%;         /* Juntos estos valores hacen 100%= logo+navbar+actions */
}
                                    
.navbar {                   
        width: 70%;
        text-align: center;
        color: #025157;
        font-weight: 500;
 }

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  } 

.main {
    margin-top: 285px;  /* antes tenia 140*/
    text-align: center;
}

.actions button{
    color: #ffffff;
    background-color: #67b54b;
    padding: 12px 14px; /*12 es para inferior y superior, 14 para der-izq */
    border: 0;
    border-radius: 5px;
}

.actions > a{
    color:#67b54b;
}

.promo {
    display: flex;  /*Solo ocupara el espacio que necesita */
    
}

.promo > h2 {
    color: #025157;
    font-size: 16px;
}

.promo > p {
    color: #1aa71a;
    font-size: 16px;
}

.promo > form > p{
    color: #8b8b8bcc;
    font-size: 16px;
}

.imagen_video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen_video > img{
    width: 15%;
    margin-top: 12px;
}

.tablas {
    
    background-color: #025157;
    padding: 2.5% 5%;
    display: grid;
    /*grid-template-columns: repeat(2, 300px); Con repeat digo # columnas y c/u tendrá esos pixeles (cantidad,tamaño)*/
    /*grid-template-columns: 1fr 1fr; Con fraccion se ajusta, es responsivo */
    /*grid-template-columns: repeat(3, 1fr); 3 columnas y son responsivas*/
    /*height: 660px; 660 porque se divide entre las 2, se puede dejar altura fija con repeat(2, 330px) y ya no 660
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);*/

    /*height: 660px;*/
    grid-template: repeat(2, 330px) / repeat(2, 1fr); /* (filas/columnas) */

}

.tarjeta{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.icono{
    flex: 1;
    width: 50%;
    right: -50px;
    height: 80%;
}

.content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.content img{
    width: 20%;
}

.content p {
    font-size: 16px;
    color: #8b8b8bcc;
    font-weight: 400;
  }

.content a{
    color:#67b54b;
    font-weight: bold;
}